:root {
  --utah-red: #cc0000;
}

body {
  position: relative;
  padding-top: 70px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 70px;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

h3 {
  font-weight: 600;
}

h4 {
  font-weight: 500;
}

p {
  line-height: 1.5;
}

p.indent {
  text-indent: 2em;
  text-align: justify;
}

a {
  text-decoration: none;
  color: black;
}

a.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

.navi-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 90px;
  z-index: 100;
  background-color: var(--utah-red);
  /* wrap when width too small */
  flex-wrap: wrap;
}

.logos {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.style-logo {
  display: flex;
  margin-left: 10px;
  height: 40px;
}

.style-logo-img {
  object-fit: contain;
}

.utah-logo {
  display: flex;
  margin-left: 10px;
  height: 50px;
}

.utah-logo-img {
  object-fit: contain;
}

.menu {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
  margin-left: 10px;
}

.menu-button {
  padding: 10px;
  color: rgb(255, 221, 221);
  white-space: nowrap;
}

.gallery {
  max-height: 400px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.photo-container {
  display: flex;
  flex: 1;
}

.photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.title {
  position: absolute;
  left: 15%;
  top: 20%;
  width: 70%;
  height: 70%;
}

.title-text {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 13vw;
  font-weight: 500;
  margin: 0;
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
  max-width: 900px;
  min-width: 450px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.people {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
  gap: 1rem;
  margin: 2rem auto;
  max-width: 900px;
  min-width: 450px;
  position: relative;
}

.publications {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
  gap: 1rem;
  margin: 2rem auto;
  max-width: 900px;
  min-width: 450px;
  position: relative;
}

.intro {
  padding-left: 10px;
}

.member {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.member:before {
  content: "";
  border: 1px solid #d3d3d3;
  align-self: stretch;
}

.photo-intro {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.person-intro {
  margin-left: 40px;
}

.person-photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid lightblue;
}

.person-name {
  text-align: left;
  font-size: 20px;
}

.style3d-photo {
  width: 180px;
  height: 200px;
  object-fit: contain;
  border: 2px solid lightblue;
  background-color: #0053c7;
  padding-left: 10px;
  padding-right: 10px;
}

#page {
  float: left;
  clear: both;
  width: 900px;
  margin-left: 30px;
}

.icon {
  float: left;
  margin-right: 25px;
  margin-bottom: -5px;
}

.shadow {
  -moz-box-shadow: 3px 3px 4px #000;
  -webkit-box-shadow: 3px 3px 4px #000;
  box-shadow: 3px 3px 4px #000;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.button {
  background-color: #777777;
  border: none;
  color: white;
  padding: 2px 6px;
  margin: 4px 0px 4px 0px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background-color: #999999;
  color: white;
}

.year {
  display: flex;
  flex-direction: column;
}

.year:before {
  content: "";
  margin-bottom: 20px;
  border: 1px solid #d3d3d3;
  align-self: stretch;
}

a.inline-ref {
  text-decoration: none;
  font-weight: bold;
}

a.inline-ref:hover {
  text-decoration: underline;
}

w
{
  font-weight: bold;
}